@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* @font-face {
  font-family: "newjuneregularregular";
  src: url("http://localhost:3000/fonts/newjune-regular-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */
:root {
  --pri-clr: #0096a9;
  --pri-clr-light: #bfe3e7;
  --pri-clr-lightest: #e5f4f6;

  --sec-clr: #022b39;
  --accent-clr: #d2d711;

  --grey-1: #fefefe;
  --grey-2: #939598;
  --grey-3: #d0d6db;
  --grey-4: #e6e7e8;

  --font-family: "Poppins", sans-serif;
  /* --font-family: "newjuneregularregular"; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  /* font-family: "newjuneregularregular"; */
}

/* utilities */

/* navbar */
nav {
  background-color: var(--grey-1);
  color: var(--pri-clr);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  height: 75px;
}

.logo {
  height: 55px;
}

/* .small-logo {
  display: none;
} */

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  background-color: #ddd;
  border-radius: 5rem;
  margin-right: 1rem;

  position: relative;
}

.search-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem 1rem;
  background-color: var(--pri-clr);
  border-bottom-right-radius: 5rem;
  border-top-right-radius: 5rem;
  color: var(--grey-1);
}

.search-input {
  background-color: #ddd;
  font-family: var(--font-family);
  outline: none;
  border: none;
  border-radius: 5rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 20rem;
}

.bell-icon {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-clr);
  border-radius: 2rem;

  position: relative;
}

.bell-icon > i {
  font-size: 1.25rem;
}

.bell-icon::after {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #dd0000;
  position: absolute;

  top: 20%;
  right: 20%;
}

/* .profile-img {
  margin: 0 1rem;
} */

.profile-img {
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
  object-fit: cover;
}

.profile-name {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
}

/* main */
.main {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 180px 1fr;
}

/* sidebar */
.side-bar {
  background-color: var(--pri-clr);
  color: var(--grey-1);
}

.side-bar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
  cursor: pointer;

  transition: background-color 0.3s ease-in-out;
}

.side-bar-item:hover {
  background-color: var(--pri-clr-light);
}

.side-bar-item:last-child {
  padding-bottom: 2rem;
}

.side-bar-icon > i {
  font-size: 2rem;
}

.side-bar-active {
  color: var(--pri-clr);
  background-color: var(--pri-clr-lightest);
  /* border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-top: 1rem;
  margin-left: 1rem; */
}

/* dashboard */
.dashboard {
  background-color: var(--pri-clr-lightest);
}

.dropdown-btn {
  transition: rotate 0.2s ease-out;
}

.rotate {
  transform: rotate(180deg);
}

.section-dropdown-header {
  padding: 1.5rem;
  color: var(--pri-clr);
}

.section-hr {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-top: 2px solid var(--pri-clr-light);
}

/* footer */
.dashboard-footer {
  padding: 1rem 1.5rem;
}

/* carousel */
.carousel {
  padding: 2rem;
  background-color: var(--pri-clr-light);
  color: var(--pri-clr);
  width: 100%;
  overflow-x: hidden;
}

.carousel-slider {
  height: 300px;
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  height: 250px;
  min-width: 48%;
  border-radius: 12px;

  background-size: cover;
  background-repeat: no-repeat;

  padding: 2rem;

  transition: transform 0.5s ease-in-out;
}

.carousel-text,
.carousel-heading,
.carousel-item-btn {
  margin-left: 3rem;
  max-width: 30ch;
}

.carousel-text {
  color: var(--sec-clr);
}

.carousel-item-btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  background-color: var(--pri-clr);
  border-radius: 2rem;
  font-family: var(--font-family);
  margin-top: 1rem;
  color: var(--grey-1);
}

.carousel-btn {
  background-color: #ddd;
  border-radius: 50px;
  display: inline-block;
  height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  cursor: pointer;
}

.left-btn {
  left: 5px;
}
.right-btn {
  right: 5px;
}

.carousel-item-active {
  transform: 0;
}

/* dropdown */

.dropdown {
  padding: 1.5rem;
}

.dropdown-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0;
}

.dropdown-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--pri-clr);
}

.dropdown-hr {
  border-top: 1px solid var(--pri-clr-light);
}

.fa-arrow-down-wide-short {
  color: var(--pri-clr);
}

/* cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;

  height: 0px;
  overflow: hidden;

  transition: height 0.3s ease-out;
}

.cards-open {
  height: auto;
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 1rem;
  height: 10rem;
}

.card-btns {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.card-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--pri-clr);
}

.card-title {
  color: var(--pri-clr);
  font-weight: 700;
}

.card-info-2 {
  color: var(--grey-2);
}

.card-hr {
  border-top: 1px solid var(--pri-clr-light);
}

/* form */
.form-title {
  /* 2rem = 32px , 1rem = 16px  , 1.5 rem=24px*/
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  color: var(--pri-clr);
}

.form {
  background-color: var(--pri-clr-lightest);
  padding: 2rem;
}

.form-el {
  background-color: var(--grey-1);
  padding: 2rem 2rem 0 2rem;
}

.form-el:last-child {
  padding-bottom: 2rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-content {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}

.personal-info {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.border {
  grid-column: 1/-1;
  background-color: var(--pri-clr-lightest);
  height: 1px;
  justify-items: center;
  margin-top: 1.5rem;
}

input {
  width: 100%;
  color: #505050;
}

label {
  color: var(--pri-clr);
  font-weight: 700;
}

input,
input[type="date"] {
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: var(--font-family);
  border-radius: 20px;
}

.form-title {
  grid-column: 1/-1;
  margin-bottom: 1rem;
  color: var(--pri-clr);

  cursor: pointer;
}

.radio {
  display: inline-flex;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.radio-input {
  display: none;
}

.radio-label {
  padding: 8px 14px;
  font-size: 14px;
  font-family: var(--font-family);
  cursor: pointer;
  color: var(--sec-clr);
  background-color: var(--grey-1);

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.radio-label:not(:last-of-type) {
  border-right: 1px solid var(--pri-clr-light);
}

.radio-input:checked + .radio-label {
  background-color: var(--pri-clr);
  color: var(--grey-1);
}

select {
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: var(--font-family);
  border-radius: 20px;
}

.phone-number {
  display: flex;
  gap: 1rem;
}

.w-100 {
  width: 100%;
}

.submit {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 1.5rem;
}

.submit-btn {
  background-color: var(--pri-clr);
  color: var(--grey-1);
  padding: 0.75rem 2rem;
  border-radius: 5rem;
  font-family: var(--font-family);
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.hidden {
  height: 0px;
}

.show {
  height: auto;
}

/* Existing Contact */
.top-row {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: flex-start;
}

.contact-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  height: 0px;
  overflow: hidden;
}

/* Existing Quotation */
/* this is for the icon positioning */
.searchbar2 a {
  position: relative;
  left: -25px;
}
.searchbar2 input {
  border-radius: 25px;
  padding-left: 15px;
  width: 500px;
  height: 50px;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
}

.Exisiting-quotation-card {
  margin-top: 1rem;
}

.quotation-card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  align-items: stretch;
}

.quotation-card {
  border: 1px solid;
  color: #ddd;
  padding: 1rem;
  border-radius: 25px;
}

.quotation-card-name {
  color: var(--pri-clr);
  font-weight: 700;
}

.quotation-card-typename {
  color: #000;
  font-weight: 700;
}

.quotation-card-typecontent {
  color: #000;
}

/* new quotation */
.content-container {
  background-color: var(--grey-1);
  padding: 2rem;
  border-radius: 20px;
}

.content-container2 {
  background-color: var(--grey-1);
  padding: 2rem;
  border-radius: 20px;
  margin-top: 1rem;
}

.content-container2 p {
  text-align: center;
}
.popupbtn-container {
  text-align: center;
  margin-top: 1.5rem;
}
.btn-addprofile {
  background-color: var(--grey-1);
  border: solid 1px;
  border-color: var(--pri-clr);
  border-radius: 2rem;
  padding: 12px 16px;
  height: 50px;
  font-family: var(--font-family);
  font-size: 16px;
  margin-left: 0.5rem;
  color: var(--pri-clr);
  font-weight: 700;
}

.btn-addprofile .fa-address-book {
  color: var(--accent-clr);
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.btn-addprofile .fa-user-plus {
  color: var(--accent-clr);
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

/* .new-quotation-card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  align-items: stretch;
}
.new-quotation-card-name {
  text-align: left;
} */

/* Modal */
.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

@media (max-width: 900px) {
  .dashboard {
    display: grid;
    grid-template-columns: 1fr;
  }

  .carousel {
    width: auto;
  }

  .carousel-item {
    min-width: 95%;
  } /* navbar */

  /* .profile-name {
    display: none;
  } */

  .profile-name,
  .bell-icon {
    width: 2rem;
    height: 2rem;
  }

  .search-input {
    font-size: 1rem;
    width: 15rem;
  }

  .search-icon {
    padding: 0.5rem 1rem;
  }

  /* main */
  .main {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* sidebar */
  .side-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .side-bar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .side-bar-item:last-child {
    padding-bottom: 1rem;
  }

  .side-bar-text {
    display: none;
  }

  .side-bar-icon > i {
    font-size: 1.5rem;
  }

  /* form */
  .form-content {
    grid-template-columns: 1fr;
  }
  .dashboard-footer {
    /* max-width: 30ch; */
    margin: 0 auto;
    padding-bottom: 3rem;
    /* text-align: center; */
  }

  .quotation-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .new-quotation-card-container {
    grid-template-columns: repeat(2, 1fr);
  } */
}

@media (max-width: 500px) {
  .logo {
    display: none;
  }
  .small-logo {
    height: 55px;
  }
  .search-input {
    width: 12rem;
    font-size: 0.75rem;
  }

  .search-icon {
    padding: 0.25rem 0.75rem;
  }

  .btn-addprofile {
    background-color: var(--grey-1);
    border: solid 1px;
    border-color: var(--pri-clr);
    border-radius: 2rem;
    padding: 12px 16px;
    width: 100px;
    height: 150px;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--pri-clr);
    font-weight: 700;
  }

  .btn-addprofile .fa-address-book {
    margin-left: 5px;
  }

  .btn-addprofile .fa-user-plus {
    margin-left: 5px;
  }

  .quotation-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .new-quotation-card-container {
    grid-template-columns: 1fr;
  } */
}

.profile-name {
  position: relative;
  /* text-align: center; */
}
.profile-name-text {
  text-align: center;
}

.dropdown-menu {
  position: absolute;
  z-index: 20;
  top: 50px;
  left: -30px;
  background-color: var(--pri-clr-light);
  width: 150px;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.show-dropdown {
  height: 125px;
}

.dropdown-link {
  padding: 0.5rem;
  border-bottom: 1px solid var(--grey-1);
  cursor: pointer;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.dropdown-link:hover {
  background-color: var(--pri-clr);
  color: var(--grey-1);
}

.dropdown-link:last-child {
  border: none;
}

@media (min-width: 901px) {
  .side-bar-active {
    color: var(--pri-clr);
    background-color: var(--pri-clr-lightest);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .small-logo {
    display: none;
  }
}
