.navigation {
  position: fixed;
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0.5rem 0rem;
  /* padding: 14px 16px; */
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 10px;
  /* align-self: auto; */
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 0.5rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Search */
.wrap {
  min-width: 30%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  /* padding: 14px 16px; */
}
.searchTerm {
  width: 100%;
  border: none;
  border-right: none;
  background: #f1f1f1;
  padding: 8px;
  height: 20px;
  border-radius: 25px 0 0 25px;
  outline: none;
  color: #0096a9;
  /* height: 36px; */
}

.searchTerm:focus {
  color: #0096a9;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #0096a9;
  background: #0096a9;
  text-align: center;
  color: #fff;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  font-size: 20px;
}

.notificationButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #d2d711;
  border: none;
  color: #0096a9;
  font-size: 24px;
}

/* Dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #0096a9;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  column-gap: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.dropdown-content a {
  float: right;
  color: black;
  padding: 12px 16px;
  width: 120px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Tablet size */

/* Mobile Responsive */
@media screen and (max-width: 550px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  img {
    width: 100%;
    max-width: 150px;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}
