.sidebarContainer {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #0096a9;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebarContainer a {
  display: block;
  color: #ffffff;
  padding: 16px;
  text-decoration: none;
}

.sidebarContainer a.active {
  background-color: #c0e3e9;
  color: #0096a9;
}

.sidebar a:hover:not(.active) {
  background-color: #c0e3e9;
  color: white;
}
